*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  #player{
    margin-top: 10vh;
    width: 40vw;
    height: 350px;
    border: 1px solid gray;
    min-width: 460px;
    display: flex;
    color: white;
    background: blue;
    .controls{
      align-self: flex-end;
      display: flex;
      flex-flow: row;
      justify-content: center;
      .playBtn, .stopBtn{
        width: 40px;
        height: 40px;
        border: 1px solid gray;
        line-height: 40px;
        text-align: center;
      }
      .playBtn{

      }
      .pause{

      }
      .stopBtn{

      }
    }
  }
}
