* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
}
body #player {
  margin-top: 10vh;
  width: 40vw;
  height: 350px;
  border: 1px solid gray;
  min-width: 460px;
  display: flex;
  color: white;
  background: blue;
}
body #player .controls {
  align-self: flex-end;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
body #player .controls .playBtn, body #player .controls .stopBtn {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  line-height: 40px;
  text-align: center;
}

/*# sourceMappingURL=css/style.css.map */
